div {
  font-family: Garamond;
  font-size: 170%;
  background-color: #F0F8FF;
  text-align: center;
  padding: 20px;
}

tr {
  text-align: center;
}
tr nth-child(even){
  background-color: #cfd2d4;
}
th {
  background-color: #afc5db
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
