tr {
  text-align: center;
  font-family: Garamond;
  font-size: 120%;
}
th {
  background-color: #afc5db
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
