table {
  border-collapse: collapse;
}

tr {
  border-collapse: collapse;
  text-align: center;
  font-family: Garamond;
  font-size: 120%;
  background-color: #F0F8FF;
}
th {
  border-collapse: collapse;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
